.error-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-content: center;
    align-items: flex-start;
}

.error-container img {
    max-width: 100px;
    margin: 40px 0;
}

.error-container a {
    text-decoration: none;
    color: brown;
}